/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   *{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .spacing{
    margin: 0px 10%;
    color: white;
  }
  
  .password-style{
    background-color: #222;
    color: #222;
  }
  
  article{
    background-color: rgb(244, 248, 252);
    border-left: 5px solid #27AE60;
    box-shadow: 1px 0px 20px #27AE60;
    border-radius: 5px;
  }
  
  .background-Container{
    background-image: url(../img/park01.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
  }
  
  .h2Title{
    display: flex;
    justify-content: space-around;
  }
  
  h2{
    font-weight: bold;
  }
  
  .announcements-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .announcements{
    display: flex;
    width: 50%;
  }
  .announcementsPic{
    width: 50%;
  }
  .announcementsText{
    width: 50%;
  }
  
  .color-Container{
    background-color: rgba(139, 139, 139, 0.5);
  }
  
  .accountPage{
    margin: 20px;
    margin-left: 10%;
    margin-right: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .account-info{
    margin: 20px 2%;
  }
  
  .Account-Container{
    display: flex;
    justify-content: space-between;
  }
  
  
  .colum-group{
    display: flex;
    justify-content: space-evenly;
    margin: 0px 10%;
    margin-top: 20px;
    background-color: rgba(240, 248, 255, 0.95);
  }
  
  .middle{
    margin-left: auto;
    margin-right: auto;
    border-left: solid 2px rgb(0, 0, 0,0.5) ;
    border-right: solid 2px rgb(0, 0, 0,0.5) ;
  }
  
  .colum{
    padding: 10px;
    width: 250%;
    height: auto;
  }
  
  .colum h1{
    margin: 0px;
    text-align:center;
  }
  
  .Message-group{
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    padding: 5px;
    border-left: 5px solid #27AE60;
    padding-left: 10px;
    margin: 1em 1em 1em 0;
  }
  
  footer{
    display: flex;
    justify-content: space-around;
    padding: 20px 2%;
    background-color: #161C1B;
    color: white;
  }
  
  html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    scroll-behavior: smooth;
  }
  
  nav{
    display: flex;
    width: 30%;
    justify-content: space-between;
  }
  
  nav a{
    text-decoration: none;
    color: white;
  }
  
  
  @font-face {
    font-family: 'Heartbeat';
    src:  url("../fonts/heartbeat.eot") format('eot'),
          url("../fonts/heartbeat.otf") format('otf'),
          url("../fonts/heartbeat.woff") format('woff'),
          url("../fonts/heartbeat.svg") format('svg'),
          url("../fonts/heartbeat.ttf") format('ttf');
  }
  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
  form{
    background-color: transparent;
    border: green;
    padding: 50px;
  }

  label{
    color: white;
  }
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  .HeartbeatLogo{
    font-family: 'Heartbeat';
    font-size: 50px;
    margin: 0;
    color: #27AE60;
    text-shadow: 
      3px 3px 0 #FCFCFC,
      -1px -1px 0 #FCFCFC,  
      1px -1px 0 #FCFCFC,
      -1px 1px 0 #FCFCFC,
      1px 1px 0 #FCFCFC;
  }
  
  .tripleImg{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }


/* CSS Martijn */

*{
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Heartbeat';
  src:  url("../fonts/heartbeat.eot") format('eot'),
        url("../fonts/heartbeat.otf") format('otf'),
        url("../fonts/heartbeat.woff") format('woff'),
        url("../fonts/heartbeat.svg") format('svg'),
        url("../fonts/heartbeat.ttf") format('ttf');
}

.background{
  background-image: url('../img/park01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.background-gradient{
  background-color: rgba(34, 34, 34, 0.5);
}

header{
  display: flex;
  justify-content: space-between;
  background-color: #161C1B;
  padding: 10px 2%;
  align-items: center;
}

.subHeader{
  display: flex;
  justify-content: space-between;
  background-color: #3B403F;
  padding: 2px 30%;
  align-items: center;
}

.subHeader a{
  color: white;
  text-decoration: none;
}

.navButtons{
  display: flex;
  justify-content: space-between;
}

.navButtons a{
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 25px;
}

.imageButtons{
  display: flex;
}

.imageButton{
  width: 200px;
  height: 200px;
  background-image: url("../img/park01.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.logo{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.form-container{
  background-color: rgb(22, 28, 27, 0.9);
  border-radius: 10px;
  width: 50%;
}

.form-group{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.form-group a{
  color: white;
}

input[type="text"], input[type="password"] {
  width: 500px;
}

input[type="submit"] {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

table{
  background-color: rgb(22, 28, 27, 0.9);
  border-radius: 10px;
  margin: 30px auto;
  padding: 20px;
  color: white;
}

td{
  padding: 30px;
}

td a{
  color: skyblue;
}

tr:first-child{
  background-color: rgb(42, 48, 47);
}

tr:nth-child(odd){
  background-color: rgb(32, 38, 37);
}